#ui-left {
}
#ui-left #ui-left-column-1 {
}
#scene-controls {
    align-items: center;
}
#scene-controls > menu {
    height: auto;
}
#sidebar-tabs {
    align-self: center;
}
#scene-controls-layers {
    gap: 0;
    border-radius: 4px;
    overflow: hidden;
}
#scene-controls-layers .ui-control {
    width: 38px;
    height: 42px;
    border: 0;
    border-radius: 0;
}
#scene-controls-layers .ui-control[aria-pressed=true] {
    background-color: var(--control-active-border-color);
}
#scene-controls-tools {
}
#scene-controls-tools .ui-control {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#scene-controls-tools .ui-control[aria-pressed=true] {
    background-color: var(--control-active-border-color);
}
#ui-left #ui-left-column-2 {
}
#scene-navigation {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    gap: 4px;
}
.scene-navigation-menu {
    gap: 4px;
}
.scene {
    border: 0;
    border-radius: var(--radius);
}
#scene-navigation-active .scene:first-child {
    border-radius: 0 var(--radius) var(--radius) 0;
}
#scene-navigation-expand {
    border-radius: 50%;
}