@import "./hotbar.css";
@import "./left.css";
@import "./pause.css";
@import "./players.css";
@import "./sidebar.css";

@import url("https://font.elice.io/css?family=Elice+Digital+Coding");
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'DNFForgedBlade';
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf') format('opentype');
    font-style:normal;
    font-weight:500;
}
@font-face{
    font-family:'DNFForgedBladeBold';
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf') format('opentype');
    font-style:normal;
    font-weight:700;
}
@font-face {
    font-family: 'CHOGOONChickenScratchV2-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/CHOGOONChickenScratchV2-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCCImkwontaek';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/KCCImkwontaek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROEHOE-CHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MYArirang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYArirang-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
    --gothic-regular: 'NEXON Lv1 Gothic OTF', serif;
    --gothic-bold: 'NEXON Lv1 Gothic OTF Bold', serif;
    --gothic-extra: 'Black Han Sans', serif;

    --mingjo-regular: "DNFForgedBlade", serif;
    --mingjo-bold: "DNFForgedBladeBold", serif;

    --handwrite-regular: "CHOGOONChickenScratchV2-Medium", serif;
    --handwrite-bold: "KCCImkwontaek", serif;

    --cursive-regular: "ROEHOE-CHAN", serif;
    --cursive-bold: "MYArirang-Medium", serif;

    --pixel-regular: "Galmuri9", serif;
    --pixel-bold: "Galmuri7", serif;

    --font-size: 14px;

    --text-heading: white;
    --text-color: lightgrey;
    --text-tooltip: grey;

    --highlight: #00AAFF;
    --highlight-dark: steelblue;
    --highlight-light: #66DDFF;
    --highlight-thick: #00AAFF;

    --health-color: white;
    --mana-color: lightgrey;
    --boss-color: darkred;

    --foreground: #222222;
    --foreground-trans: #22222277;

    --background: #1a1a1a;
    --background-trans: #1a1a1add;
    --background-trans-light: #1a1a1aaa;
    --background-highlight: darkcyan;
    --background-bright: #333333;

    --radius: 5px;

    --sidebar-width: 300px;
    --sidebar-nav-width: 40px;
    --bottom-main-height: 50px;
    --bottom-sub-height: 30px;
}