#pause {
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
}
#pause.paused {
    backdrop-filter: blur(4px) brightness(0.7);
    opacity: 1;
    pointer-events: all;
    animation: none;
}
#pause img {
    display: none;
}
#pause figcaption {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--gothic-extra), sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-shadow: none;
    color: black;
    background: linear-gradient(to right, darkgoldenrod, gold, darkgoldenrod);
    border-width: 15px 0;
    border-style: solid;
    border-image: repeating-linear-gradient(135deg, transparent 0, transparent 5px, black 5px, black 10px) 10;
    box-shadow: 0 0 10px black;
    padding: 4px 0 0 0;
    margin: auto 0;
    opacity: 0.7;
    transform: rotateZ(-5deg) scale(1.2);
}