#players {
    position: absolute;
    top: 4px;
    left: 4px;
    flex-direction: column-reverse;
    gap: 0;
}
#players-active {
    flex-direction: column-reverse;
    gap: 4px;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.players-list {
    max-height: 0;
    flex-direction: column-reverse;
    gap: 0;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, visibility 0.5s 0s;
    overflow: hidden auto;
    scrollbar-width: none;
}
#players.expanded .players-list {
    max-height: 300px;
    visibility: visible;
}
#performance-stats {
    width: fit-content;
    text-shadow: 1px 0 0 var(--background-color), 0 1px 0 var(--background-color), -1px 0 0 var(--background-color), 0 -1px 0 var(--background-color);
    padding: 4px;
}
#players-expand {
    background: var(--background-color);
    border-radius: 50%;
    order: 1;
}
#latency {
    order: 2;
}
#fps {
    order: 3;
}
#players-expand::before {
    transform: rotate(180deg);
}
.player {
    position: relative;
    text-shadow: 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color), -1px 0 var(--background-color);
    padding: 6px 8px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, var(--text-color), transparent) 1;
    border-radius: 0;
    margin: 0;
}
#players-active .player:first-child {
    border-top: 0;
}
.player::before {
    position: absolute;
    left: 22px;
    bottom: 6px;
}
.player-avatar {
    flex: none;
    width: 26px;
    height: 26px;
    background: var(--border-color);
    border-radius: var(--radius);
    object-fit: cover;
    overflow: hidden;
}
.player-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.player-name .user-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color);
}
.player-name .character-name {
    font-size: 10px;
    line-height: 12px;
    color: var(--text-color);
    opacity: 0.7;
    cursor: pointer;
}
.player-name .character-name:hover {
    text-decoration: underline;
    opacity: 1;
}