#players.styled {
    position: absolute;
    top: 4px;
    left: 4px;
    flex-direction: column-reverse;
    gap: 0;
}
#players.styled #performance-stats {
    width: fit-content;
    text-shadow: 1px 0 0 var(--background-color), 0 1px 0 var(--background-color), -1px 0 0 var(--background-color), 0 -1px 0 var(--background-color);
    padding: 4px;
}
#players.styled #players-expand {
    background: var(--background-color);
    border-radius: 50%;
    order: 1;
}
#players.styled #latency {
    order: 2;
}
#players.styled #fps {
    order: 3;
}
#players.styled #players-expand::before {
    transform: rotate(180deg);
}

#players.styled .players-list {
    max-height: unset!important;
    gap: 0;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
    visibility: visible!important;
    overflow: hidden auto;
    scrollbar-width: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms;
}
#players.styled #players-active {
    flex-direction: column-reverse;
    gap: 4px;
    background: none;
    padding: 0;
    border: 0;
    border-radius: 0;
}
#players.styled.expanded #players-active .players-list,
#players.styled.expanded #players-inactive.expanded {
    pointer-events: all;
    opacity: 1;
}
.players-expand-button {
    font-size: 10px;
    background: var(--background-color);
    padding: 4px;
    border: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0;
}
.players-expand-button i {
    transition: transform 300ms;
}
.players-expand-button.expanded i {
    transform: rotate(180deg);
}
#players.styled.expanded .players-expand-button {
    pointer-events: all;
    opacity: 0.4;
}
#players.styled.expanded .players-expand-button:hover {
    opacity: 1;
}
#players.styled .player {
    position: relative;
    text-shadow: 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color), -1px 0 var(--background-color);
    padding: 6px 8px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, var(--text-color), transparent) 1;
    border-radius: 0;
    margin: 0;
}
#players.styled .player:first-child {
    border-top: 0;
}
#players.styled .player::before {
    position: absolute;
    left: 22px;
    bottom: 6px;
}
#players.styled #players-inactive .player > * {
    opacity: 0.8;
}
#players.styled #players-inactive .player:hover > * {
    opacity: 1;
}
#players.styled .player.idle::after {
    content: "\f880";
    font-family: var(--font-awesome);
    margin-left: 0.5em;
}
#players.styled .player.idle .player-name::after {
    display: none;
    content: none;
}
#players.styled .player-avatar {
    flex: none;
    width: 26px;
    height: 26px;
    background: var(--border-color);
    border-radius: var(--radius);
    object-fit: cover;
    overflow: hidden;
}
#players.styled .player-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#players.styled .player-name .user-name {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color);
}
#players.styled .player-name .character-name {
    font-size: 10px;
    line-height: 12px;
    color: var(--text-color);
    opacity: 0.7;
    cursor: pointer;
}
#players.styled .player-name .character-name:hover {
    text-decoration: underline;
    opacity: 1;
}