#scene-controls.styled {
    width: fit-content;
    align-items: center;
}
#scene-controls.styled > menu {
    height: auto;
}
#scene-controls.styled #scene-controls-layers {
    gap: 0;
    border-radius: 4px;
    overflow: hidden;
}
#scene-controls.styled #scene-controls-layers .ui-control {
    width: 38px;
    height: 42px;
    border: 0;
    border-radius: 0;
}
#scene-controls.styled #scene-controls-layers .ui-control[aria-pressed=true] {
    background-color: var(--control-active-border-color);
}
#scene-controls.styled #scene-controls-tools
#scene-controls.styled #scene-controls-tools .ui-control {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#scene-controls.styled #scene-controls-tools .ui-control[aria-pressed=true] {
    background-color: var(--control-active-border-color);
}