#sidebar-tabs:has(> menu.styled) {
    align-self: center;
}
#sidebar-tabs > menu.styled {
    gap: 0;
    border-radius: 4px;
    overflow: hidden;
}
#sidebar-tabs > menu.styled .ui-control {
    width: 38px;
    height: 42px;
    border: 0;
    border-radius: 0;
}
#sidebar-tabs > menu.styled .ui-control[aria-pressed=true] {
    background-color: var(--control-active-border-color);
}
#chat.styled {
    background: linear-gradient(to right, transparent 0 12px, var(--sidebar-background-color) 12px 100%);
}
.themed.theme-light #chat.styled {
    --sidebar-background-color: rgba(255, 255, 255, 0.8);
}
.themed.theme-dark #chat.styled {
    --sidebar-background-color: var(--color-cool-5-90);
}